<ion-header>
  <ion-navbar>
    <ion-title>
      To Do List Page
    </ion-title>
    <ion-buttons end (click)="doLogout()">
      <button ion-button>
      LOGOUT
    </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <div padding>
      <button ion-button full small (click)="doShowModal()" [hidden]="visibleObject === 'images'">
      ADD TODO
    </button>
      <button ion-button full small (click)="doShowCamera()" [hidden]="visibleObject === 'todos'">
      ADD IMAGE
    </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="listStuff">

  <div padding>
    <ion-segment [(ngModel)]="visibleObject">
      <ion-segment-button value="todos" (ionSelect)="loadData('todos')">
        To Do's
      </ion-segment-button>
      <ion-segment-button value="images" (ionSelect)="loadData('images')">
        Images
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="visibleObject">
    <ion-list *ngSwitchCase="'todos'">
      <ion-item-sliding #slideItem *ngFor="let item of itemList ; let i = index; trackBy: trackItem" no-padding>
        <ion-item no-padding>
          <ion-card no-padding>
            <ion-card-header>
              (&nbsp;{{i}}&nbsp;)&nbsp;{{item.title}}
            </ion-card-header>
            <ion-card-content>
              {{item.description}}
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item-options side="right" padding>
          <button ion-button large padding color="danger" (click)="onDeleteItem(item, 'todo')">
          <ion-icon name="trash"></ion-icon>
        </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'images'">
      <ion-item-sliding #slideItem *ngFor="let image of imageList ; let i = index; trackBy: trackItem" no-padding>
        <ion-item no-padding>
          <ion-card no-padding>
            <ion-card-header>
              (&nbsp;{{i}}&nbsp;)&nbsp;{{image._filename}}
            </ion-card-header>
            <img src={{image._downloadURL}}/>
            <ion-card-content>
              {{image._downloadURL}}
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item-options side="right" padding>
          <button ion-button large padding color="danger" (click)="onDeleteItem(image, 'images')">
          <ion-icon name="trash"></ion-icon>
        </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>